@media (min-width: 768px) {
  .contenedor {
    margin-top: 153px;
  }
}

.contenedor {
  margin-top: 51px;
}

.contenedorLookBook {
  margin-top: 71px;
  margin-bottom: 40px;
}

.contenedor{
  background-color: white;
}

.contenedor2{
  background-color: white;
  width: 100%;
  height: 580px;
}

div.TextOpaco
{
  background-color: #A2A9B0;
  border: 5px solid white;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

div.TextOpaco p
{
  margin: 5%;
  font-weight: bold;
  color: white;
  font-size: 21px;
}

.descripcionDisenador {
  margin-top: 10px;
  text-align: justify;
}

.col50 {
  width: 50%;
}

.div1 h1
{
  text-align: center;
  font-size: 15px;
}
.div2 p
{
  text-align: center;
  margin-bottom: 120px;
}
.carousel-caption
{
  color: black;
}
.div3 p
{
  text-align: center;
}

.carousel-inner
{
  width: 100%;
  height: 580px;
}
.carousel-indicators li {
  border: 1px solid #000;
  width: 20px;
  height: 20px;
}

.carousel-indicators .active {
  background-color: #000;
  width: 22px;
  height: 22px;
}

.contenedor3{
  background-color: yellow;
  width: 100%;
  height: 795px;
}
#carousel-inner3
{
  width: 100%;
  height: 795px; 
}
.contenedor4
{
  background-color: white;
  width: 100%;
  height: 520px; 
}
.contenedor4 p
{
  text-align: center;
}
.contenedor5
{
  background-color: black;
  width: 100%;
  height: 500px; 
}
.contenedor5 p
{
  color: white;
}
.contenedor6
{
  background-color: white;
  width: 100%;
  height: 500px;
  text-align: center;
}
.contenedor7
{
  text-align: center;
  background-color: black;
  color: white;
  width: 100%;
  height: 300px; 
}
