.contenedor {
  margin-top: 51px;
}

.contenedorLookBook {
  margin-top: 71px;
}

.contenedor{
  background-color: white;
}
.div1{
  background-repeat: no-repeat;
  background-position-x: center;
}

.descripcionDisenador {
  margin-top: 10px;
  text-align: justify;
}

.col50 {
  width: 50%;
}

